<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--    INSERT THIS MARKUP INTO YOUR PAGE-->
<aside class="aside">

    <svg width="50" class="hoverme" id="burger" fill="#3C3D3D" viewBox="0 0 50 40" xmlns="http://www.w3.org/2000/svg">
        <g class="anim">
            <path class="top" d="M0 8h50v3H0z"/>
            <path class="bottom" d="M0 28h50v3H0z"/>
            <path class="middle" d="M0 18h40v3H0z"/>
        </g>
        <g class="spoof">
            <path class="topc" d="M0 48h50v3H0z"/>
            <path class="bottomc" d="M0 68h50v3H0z"/>
            <path class="middlec" d="M0 58h40v3H0z"/>
        </g>
    </svg>
    <div class="aside__content">
        MENU STUFF
    </div>
</aside>
<!--    INSERT THIS MARKUP INTO YOUR PAGE-->
    <script src="./index.js"></script>
</body>
</html>